form{
  background: rgba(128, 0, 128, 0.767);
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 1000px;
}
form input,form button{
  display: inline-block;
  width: 40%;
  margin: 2px;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #00000026;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
form input:hover, form button:hover{
  box-shadow:inset 0px -1px 0px #00ff9534;
  border-color: #00ff803a;
}